*{
    margin: 0;
    padding: 0;
}
.usersTablemain {
    width: 1213px;
    margin: auto;
    background: gainsboro;
    box-shadow: 2px 4px 4px #ddd;
    margin-top: 24px;
}
button.btn.btn-success {margin: 0px 10px;}
td {
    border: 1px solid cadetblue;
    text-align: center;
}
tr{
    text-align: center;
}

th {
    border: 1px solid cadetblue;
    text-align: center;
}
.usersTablemain {
    font-family: sans-serif;
}